# Importing Libraries and Loading Dataset

In [1]:

# importing the required libraries
import pandas as pd
import re
import numpy as np
from word2number import w2n
from datetime import datetime

# Dataset Loading
hr= pd.read_csv(r"C:\Users\DELL\Desktop\Regonet_project\messy_HR_data.csv")

# make a copy of the original dataset
hr_1 = hr.copy()

# # Rename the columns to conform with Python variable naming conventions
hr_1 = hr_1.rename(columns={'Joining Date': 'Joining_date', 'Performance Score': 'Performance_score','Phone Number': 'Phone_number'})

# Resolving Inconsistent Formatting in Age and Salary Columns

In [2]:
# Converting text enteries in 'age' column to numeric values
hr_1['Salary'] = hr_1['Salary'].apply(
    lambda x: int(x) if str(x).isdigit() else (
        w2n.word_to_num(x.lower()) if isinstance(x, str) and x.replace('-', '').isalpha() else np.nan
        )
)

# Converting text enteries in 'age' column to numeric values
hr_1['Age'] = hr_1['Age'].apply(
    lambda x: int(x) if str(x).isdigit() else (
        w2n.word_to_num(x.lower()) if isinstance(x, str) and x.replace('-', '').isalpha() else np.nan
        )
)

# Removing extra leading and trailing spaces from text-based columns
for col in hr_1.select_dtypes(include='object'):
    hr_1[col] = hr_1[col].map(lambda x: re.sub(r'\s+', ' ', x).strip() if isinstance(x,str) else x)

# Handling Incorrect Data Types

In [3]:
# Converting date stored as strings with varyig formats to a proper date fromat

# List of date formats
date_formats = [
    "%Y.%m.%d",
    "%m-%d-%Y",
    "%B %d, %Y",
    "%Y/%m/%d",
    "%m/%d/%Y"
]

# Helper function to test and parse
def _can_parse(date_str, fmt):
    try:
        datetime.strptime(date_str, fmt)
        return True
    except:
        return False

# Convert and replace the Joining_date column
hr_1['Joining_date'] = hr_1['Joining_date'].apply(
    lambda x: next(
        (datetime.strptime(x, fmt) for fmt in date_formats if _can_parse(x, fmt)),
        None
    )
)

print(hr_1)

       Name   Age   Salary  Gender Department   Position Joining_date  \
0     grace  25.0  50000.0    Male         HR    Manager   2018-04-05
1     david   NaN  65000.0  Female    Finance   Director   2020-02-20
2    hannah  35.0      NaN  Female      Sales   Director   2020-01-15
3       eve   NaN  50000.0  Female         IT    Manager   2018-04-05
4     grace   NaN      NaN  Female    Finance    Manager   2020-01-15
..      ...   ...      ...     ...        ...        ...          ...
995    jack  50.0  65000.0  Female         HR    Manager   2020-02-20
996    jack  30.0  50000.0    Male    Finance    Analyst   2018-04-05
997  hannah  30.0  70000.0    Male         IT  Assistant   2020-01-15
998     bob  25.0  65000.0   Other  Marketing    Manager   2018-04-05
999     ivy  30.0      NaN    Male    Finance    Manager   2020-02-20

    Performance_score              Email  Phone_number
0                   D  email@example.com           NaN
1                   F    user@domain.com  123-456-7890
2                   C  email@example.com  098-765-4321
3                   A   name@company.org
4                   F   name@company.org  098-765-4321
..                ...                ...           ...
995                 F                NaN  098-765-4321
996                 C                NaN  555-555-5555
997                 D    user@domain.com           NaN
998                 D  email@example.com           NaN
999                 C    user@domain.com  123-456-7890

[1000 rows x 10 columns]

# Handling Missing Values Incorrect Placeholders and Incorrect Phone Numbers and Emails

In [4]:
# Filling NAN values in 'Salary' column with median
hr_1['Salary'] = hr_1['Salary'].fillna(hr_1['Salary'].median()).astype(int)

In [5]:
# Filling NaN values in 'Age' column with mean
hr_1['Age'] = hr_1['Age'].fillna(hr_1['Age'].mean()).astype(int)

In [6]:
# Dealing with missing and inconsistent or incorrect phone numbers
hr_1['Phone_number'] = hr_1['Phone_number'].fillna('000-000-0000')

In [7]:
# Dealing with missing and inconsistent or incorrect Emails
hr_1['Email'] = hr_1['Email'].fillna('missing@example.com')

In [8]:
# Renaming the 'Employee ID' column to 'Employee_ID'
hr_1.index.name = 'Employee_ID'

In [9]:
# print sample of our cleaned data
hr_1.sample(10, random_state=42)

,Name,Age,Salary,Gender,Department,Position,Joining_date,Performance_score,Email,Phone_number
Employee_ID,,,,,,,,,,
521,eve,25,65000,Male,Marketing,Manager,2019-12-01,A,missing@example.com,098-765-4321
737,hannah,35,65000,Male,IT,Clerk,2019-03-25,C,email@example.com,098-765-4321
740,david,30,65000,Female,HR,Director,2019-12-01,B,email@example.com,123-456-7890
660,eve,35,65000,Male,HR,Director,2018-04-05,F,name@company.org,098-765-4321
411,ivy,40,70000,Female,Sales,Clerk,2019-03-25,C,user@domain.com,000-000-0000
678,alice,25,55000,Other,Finance,Clerk,2020-02-20,A,email@example.com,555-555-5555
626,david,30,65000,Female,HR,Analyst,2019-12-01,A,user@domain.com,
513,david,30,65000,Male,Sales,Assistant,2019-12-01,F,missing@example.com,555-555-5555
859,ivy,30,65000,Male,Finance,Director,2020-01-15,F,name@company.org,123-456-7890
136,ivy,25,50000,Other,IT,Analyst,2019-03-25,D,missing@example.com,555-555-5555

# Final Dataset Inspection

In [10]:
# Final inspcetion of HR dataset column to ensure all coulmns are in proper format
hr_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               1000 non-null   object
 1   Age                1000 non-null   int64
 2   Salary             1000 non-null   int64
 3   Gender             1000 non-null   object
 4   Department         1000 non-null   object
 5   Position           1000 non-null   object
 6   Joining_date       1000 non-null   datetime64[ns]
 7   Performance_score  1000 non-null   object
 8   Email              1000 non-null   object
 9   Phone_number       1000 non-null   object
dtypes: datetime64[ns](1), int64(2), object(7)
memory usage: 78.3+ KB